body {
   padding: 0;
   margin: 0;
  
   background-image: url(../img/background.jpg);
   background-size: 100% 100%;
   background-repeat: no-repeat;
}

/*header*/
.header {
    background-color: rgb(0, 0, 0, 0.10);
}

.navigation {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    height: 90px;
    align-items: center;
    margin:0 auto;
    padding: 0 auto;

    list-style-type: none;
}

.navigation_link {
    display: block;
    margin-right: 10px;
    height: 90px;
    line-height: 90px;

    font-family: Arial;
    font-size: 18px;
    font-style: italic;
    color: #fff;

    text-decoration:none;
}

.navigation_link:hover {
    border-bottom: 1px solid #336699;
    color: #bb3322;
}

.avatar {
  margin-top: 10px; 
  height: 50px;
  width: 80px;
  border: 2px solid #000;
}

/*main*/
.main {
    max-width: 1300px;
    height: 600px;
    margin: 0 auto;
}

.promo { 
    max-width: 400px;

    font-style: italic;

}

.quote {
    max-width: 400px;
    margin-top:160px; 

    font-style: italic;
    font-family: Geneva;
    font-size: 24px;

}

.text_quote {
    max-width: 500px;
    max-height: 300px;
    margin-top:50px;

    font-family: Verdana, sans-serif;;
    word-spacing: 6px;
    line-height: 105%; 

}

/*footer*/
.footer {
    background-color: rgb(0, 0, 0, 0.10);
}

.footer_info {
    height: 50px;
    margin:0 auto;
    padding: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text_footer {
    padding-right: 30px;

    user-select: none;
    font-size: 10px;
    color: #222222;
}

@media (min-width: 1920px) {
    .navigation_link {
        font-size: 22px;
    }
    .footer_info {
        height: 70px;
    }

    .text_footer {
        font-size: 16px;
    }

    .main {
        height: 900px;
    }

    .text_quote {
        font-size:20px;
    }
}

@media (max-width: 1024px) {
    .main {
        height: 500px;
    }
}